body {
    width: 350px;
    height: 350px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
}

p {
    margin: 0;
}



/** PAGE DISPLAY **/
#home-view {
    display: none;
}

#settings-view {
    display: none;
}

#history-view {
    display: none;
}

#history-details {
    display: none;
}

#signup-view {
    display: none;
}

#new-password-view {
    display: none;
}

#forgot-password-email-view {
    display: none;
}

#password-changed-view {
    display: none;
}


/** SHARED LAYOUT **/
#current-page-container, #header, #main-content, #length-selector, #header-settings, #settings-content, #header-history, #history-metadata, #history-result, #header-history-details, #history-btns, #login-view, #signup-view, #new-password-view, #forgot-password-email-view, #password-changed-view {
    padding:  16px 12px;
}

.title-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.page-title {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-top: solid 1px rgb(241, 241, 241);
}

.logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.left-side-header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.background-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** ERROR **/
.error {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 16px;
}

.error-text {
    font-size: 12px;
    color: rgb(176, 22, 22);
}



/** HOME VIEW **/
#current-page {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#current-page-container {
    background: rgba(231, 228, 214, 0.372);
    border-top: solid 1px rgb(241, 241, 241);
    border-bottom: solid 1px rgb(241, 241, 241);
}

#main-content {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

#length-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-top: 0;
}

#length-options {
    display: flex;
    gap: 4px;
}



/** SETTINGS VIEW **/
#settings-version {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.settings-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
    border-bottom: solid 1px rgb(241, 241, 241);
    margin-bottom: 14px;
}

.settings-left {
    display: flex;
    flex-direction: column;
    gap: 3px;
}



/** HISTORY DETAILS VIEW **/
#history-metadata {
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-bottom: solid 1px rgb(241, 241, 241);
}

#history-page-summary {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    padding: 1px 6px;
    border-radius: 4px;
    background-color: rgba(209, 185, 255, 0.318);
    color: rgb(95, 74, 179);
    font-weight: 500;
    width: fit-content;
}

#history-top-bar {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

#history-btns-container {
    display: flex;
    flex-direction: column;
}



/** RESULT SUMMARY **/
.result-header {
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgb(241, 241, 241);
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.result-body {
    padding: 16px 12px;
}

.result-container {
    border: solid 1px rgb(220, 220, 220); /* was 241 */
    border-radius: 6px;
    background: rgba(231, 228, 214, 0.372);
}



/** BUTTONS **/
.btn-fill {
    border: solid 1px rgb(76, 59, 150);
    color: rgb(255, 255, 255);
    background-color: rgb(95, 74, 179);
    width: 100%;
    border-radius: 6px;
    padding: 8px;
    transition: color 0.4s ease;
    cursor: pointer;
}

.btn-fill:hover {
    border: solid 1px rgb(64, 48, 130);
    color: rgb(255, 255, 255);
    background-color: rgb(76, 59, 150);
    width: 100%;
    border-radius: 6px;
    padding: 8px;
}

.auth-btn-label {
    color: rgb(95, 74, 179);
    background-color: transparent;
    padding: 0px;
    border: none;
    outline: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.4s ease;
    margin-left: 4px;
}

.auth-btn-label:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: rgb(76, 59, 150);
}

.btn-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    padding: 10px;
    outline: none;
    border-radius: 99999px;
    background-color: transparent;
    border: 0;
    transition: color 0.4s ease;
}

.btn-back:hover {
    background-color: rgb(243, 243, 243);
}

.btn-back span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    transition: color 0.4s ease;
}

.btn-danger-outline {
    border: solid 1px rgb(230, 133, 133);
    color: rgb(197, 0, 0);
    background-color: transparent;
    width: 100%;
    border-radius: 6px;
    padding: 8px;
    transition: color 0.4s ease;
}

.btn-danger-outline:hover {
    color: white;
    background-color: rgb(197, 0, 0);
    border: solid 1px rgb(132, 1, 1);
}

.btn-label {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
    color: rgb(108, 108, 108);
    transition: color 0.4s ease;
}

.btn-label:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: black;
}

.btn-label.active-tab, .btn-label.active-tab:hover {
    color: rgb(95, 74, 179);
}

.btn-summarize {
    width: 100%;
    border: solid 1px rgb(235, 235, 235);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 12px 15px;
    background-color: white;
}

.btn-summarize:hover {
    border: solid 1px rgb(200, 200, 200);
}

.length-btn {
    font-size: 12px;
    color: rgb(95, 74, 179);
    border: solid 1px rgba(209, 185, 255, 0.75);
    border-radius: 24px;
    background-color: rgba(209, 185, 255, 0.318);
    padding: 3px 9px;
    cursor: pointer;
}

.length-btn:hover {
    background-color: rgba(209, 185, 255, 0.5);
}

.length-btn.active-length-btn {
    background-color: rgb(95, 74, 179);
    border: solid 1px rgb(95, 74, 179);
    color: white;
}

/** Disabled button style **/
.btn-fill:disabled {
    background-color: rgb(180, 180, 180);
    border: solid 1px rgb(180, 180, 180);
    cursor: not-allowed;
    opacity: 0.7;
}

/** Disabled button style: "Remove" hover style for disabled buttons **/
.btn-fill:disabled:hover {
    background-color: rgb(180, 180, 180);
    border: solid 1px rgb(180, 180, 180);
}


/** FORM ELEMENTS **/
.dropdown {
    padding: 6px 8px;
    border-radius: 6px;
    background-color: rgba(231, 228, 214, 0.372);
    outline: none;
    border: solid 1px rgb(220, 220, 220);
}



/** ICONS **/
.icon {
    font-size: 16px !important;
    line-height: 1;
    color: white;
}

.icon-chevron-left {
    color:rgb(92, 92, 92);
    font-variation-settings:'wght' 300;
}

.icon-chevron-right {
    color: rgb(151, 151, 151);
    font-variation-settings:'wght' 300;
}

.icon-notes-left {
    font-size: 16px !important;
}

.summarize-btn-icon, .background-icon {
    width: 18px;
    height: 18px;
}

#header-icon {
    width: 32px;
    height: 32px;
}

#history-icon, #settings-icon {
    background: rgb(95, 74, 179);
    width: 30px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#summarize-content-icon {
    background: rgba(185, 220, 255, 0.318);
    padding: 6px;
    border-radius: 6px;
}

#summarize-page-icon {
    background: rgba(209, 185, 255, 0.318);
    padding: 6px;
    border-radius: 6px;
}



/** INPUT **/
.input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 6px;
    background-color: rgba(231, 228, 214, 0.372);
    border: solid 1px rgb(220, 220, 220);
    box-sizing: border-box;
}

.input {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.input-icon {
    font-size: 16px !important;
    color: rgb(90, 90, 90);
    line-height: 1;
}

.password-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


/** TEXT **/
.label-bold {
    font-size: 14px;
    font-weight: 500;
}

.label-gray {
    font-size: 13px;
    color: rgb(121, 121, 121);
    background-color: transparent;
}

.result-text {
    font-size: 13px;
    font-weight: 500;
}

.semibold {
    font-weight: 500;
}

.settings-item-title {
    font-size: 13px;
    font-weight: 500;
}

.settings-section-title {
    padding-bottom: 20px;
}

.subtext, .settings-item-subtext {
    color: rgb(137, 137, 137);
    font-size: 12px;
}

.text-gray-small {
    font-size: 12px;
    color: rgb(121, 121, 121);
}

.text-normal {
    font-size: 13px;
}

.summarize-btn-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#current-page-title {
    font-weight: 500;
}

#header-h2 {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.header-title {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

#history-minutes-ago {
    color: rgb(141, 141, 141);
    font-size: 11px;
}

#history-page-title {
    font-weight: 500;
    font-size: 14px;
}

#history-page-url {
    font-size: 11px;
    color: rgb(116, 116, 116);
}

#length-label {
    font-size: 13px;
    color: rgb(59, 59, 59);
}

#status-text {
    font-size: 12px;
}



/** SECTION BORDERS **/
#header-settings, #header-history-details, #history-result {
    border-bottom: solid 1px rgb(241, 241, 241);
}



/** STATUS **/
#status {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

#status-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    background-color: rgb(24, 161, 24);
    padding: 0;
    box-sizing: border-box;
}



/** SWITCH **/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(95, 74, 179);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(95, 74, 179);
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}


/** LOGIN PAGE **/
#login-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}

.btn-y-padding {
    margin: 18px 0;
}

.auth-title {
    padding: 0;
    margin: 0;
    outline: 0;
    font-weight: 500;
    font-size: 18px;
}

.auth-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-bottom: 24px;
}

#forgot-password-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/** Forgot password email page **/
#forgot-password-email-view {
    margin-top: 16px;
}

/** Override **/
#password-changed-text {
    font-size: 14px;
}